*.mp4
*/recorded_data/*
**/task/*
*/*pycache*/*
**/__pycache__/
**.hdf5
**.env

library/__pycache__/__init__.cpython-38.pyc
library/__pycache__
autograsper/20_frames
autograsper/20_frames_cleaned
autograsper/candidate
autograsper/merged_data
autograsper/recorded_data (Copy)
autograsper/stage_1_new_collection
debug_image.png
debug_image.png
autograsper/merged_data
autograsper/stage_1_second_new_collection_full copy
autograsper/successful2 copy
autograsper/test
autograsper/stage_2
data backups/merged_data
data backups/recorded_data (Copy)
data backups/stage_1_new_collection
data backups/stage_1_second_new_collection_full copy
data backups/stage_2
data backups/successful2 copy
data backups/test
data backups/test
data backups/successful2 copy
data backups
FullGrad
assets
data4robotics
data4robotics.egg-info
dataset/CloudGripper_stack_1k/limited_init_positions/hydra_logs/bc_finetune
logs
eval_bash
experiments
sbatch
tools
continual_learning.py
eval_requirements.txt
scratch.py
setup.py
visualize.py
visualize_video.py
finetune.py
real_eval.py
uv.lock
proposed_action.json
.obsidian
